/* styles.css */

.barbearia {
    padding: 50px 0;
}



.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}



#principal {
    background-color: #ccc;
    padding: 30px;
}

.banner {
    width: 100%;
}

.beneficios {
    background-color: #fff;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

.itens {
    font-style: italic;
}

.imagemBeneficios {
    width: 50%;
}

